* {
    box-sizing: border-box;
    font-family: 'cantarell';
    
}

@font-face {
    font-family: 'cantarell';
    src: url(./fonts/Cantarell/Cantarell-Regular.ttf);
}

@font-face {
    font-family: 'cantarell';
    src: url(./fonts/Cantarell/Cantarell-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'cantarell';
    src: url(./fonts/Cantarell/Cantarell-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'cantarell';
    src: url(./fonts/Cantarell/Cantarell-Italic.ttf);
    font-style: italic;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

.background-img {
    display: flex;
    position: relative;
}



.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
    padding: 10px 0;
    background-color: rgba(201, 207, 207, 0.205);
    position: absolute;
}


.form-body {
    display: flex;
    flex-direction: column;        
    background-color: rgb(42, 44, 46);
    flex: 1;
}

.header,
form,
.footer {
    flex: 1;
    padding-left: 80px;
    color:azure;  
    
}

.header {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    font-size: 2rem;
    line-height: 1.8;
    padding-bottom: 20px;
}

.header :first-child {
    width: 80%;
}


form {
    background-color: rgb(228, 234, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    color:rgb(42, 44, 46);
}

form > div {
    display: flex;
    gap: 150px;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 300px, 15vw);
}


input {
    padding: 10px 3px;
    width: 100%;
    border-radius: 6px;
    border: 3px;
    border-style: solid;
}

form p {
    font-size: 2rem;
}

.footer {
    padding-top: 50px;
}

.footer input {
    width: 250px;
    border-radius: 6px;
    font-size: 1em;
    background-color:rgb(72, 73, 77);
    color: aliceblue;
    margin-bottom: 8px;
    
}

.footer input:hover {
    box-shadow: 5px 5px 12px -5px rgba(176,176,176,1);
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
}

form > p,
form > div {
    margin-bottom: 13px;
}
:focus {
    outline: 0;
}
form input:focus {
    box-shadow: 14px 14px 22px -5px rgba(176,176,176,1);
}

form input:valid {
    border-color: green;
    background-color: rgba(172, 255, 47, 0.062);
}

form input:invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.089);
}

form input:focus:invalid {
    border-color: red;
    background-color: transparent;
}

form input:placeholder-shown {
    border-color: black;
    background-color: transparent;
}
